.user-dashbord-main{
    width: 100%;
    height: 100vh;
}
.user-dashbord-body{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
}
.header{
    width: 300px;
    height: 100vh;
    display: flex;
    /* position: fixed; */
    overflow: auto;
    float: left;
    /* z-index: 10; */
}
.header-mobil{
    width: 130px;
    height: 100vh;
    display: flex;
    float: left;
    /* position: fixed; */
    overflow: auto;
    /* z-index: 10; */
}
.header>nav{
    width: 100%;
    height: 100%;
}
.header-mobil>nav{
    width: 100%;
    height: 100%;
}
.nav-top{
    width: 100%;
    height: 30%;
    background-color: antiquewhite;
    position: relative;
}
.nav-top-info{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: whitesmoke;
    /* display: flex; */
}
.nav-top-info-container{
    width: 100%;
    height: 40%;
    /* position: absolute; */
    /* background-color: whitesmoke; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    /* border-bottom: 1px solid black; */
}
.nav-top-info-span-photo{
    width: 40%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-top-info-span-photo>img{
    width: 47px;
    height: 45px;
    border-radius: 30px;
}
.nav-top-info-span-username-contain{
    width: 60%;
    height: 100%;
    overflow: auto;
    cursor: pointer;
}
.nav-top-info-span-username-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.nav-top-info-span-username-ul>li{
    padding-top: 5px;
}
.nav-top-info-span-username{
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-top-info-span-email{
    display: block;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav-top-info-span-icon{
    width: 10%;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}

.nav-create-designe{
    width: 100%;
    height: 60%;
    padding: 20px;
}
.creat-design{
    width: 80%;
    margin: auto;
    height: 80%;
    background-color: rgb(83, 83, 255);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
}
.creat-design:hover{
    background-color: rgb(0, 0, 255);
    transition: 0.3s ease-in;
}
.creat-design a{
    text-decoration: none;
}
/* .nav-top-info-menu{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: orange;
    cursor: pointer;
} */
.nav-bottom-info-menu{
    width: 100%;
    height: 100%;
    background-color: #08080D;
    display: block;
    /* transform: translateY(10%); */
    /* transition: transform 0.3s ease-in-out; */
    /* padding: 20px 34px; */
    /* z-index: 100; */
    /* display: flex; */
    position: absolute;
}
.nav-bottom-info{
    width: 100%;
    height: 40%;
    color: white;
    /* position: absolute; */
    /* background-color: darkgoldenrod; */
    /* background-color: #08080D; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bottom-info-menu-main{
    width: 100%;
    height: 60%;
    /* background-color: aqua; */
}
.hide-element{
    display: none;
}
.nav-top-info-menu-main-ul{
    list-style: none;
    /* line-height: 20px; */
    margin: 0;
    /* text-align: center; */
}
.nav-top-info-menu-main-li{
    padding: 5px;
    padding-top: 15px;
    font-weight: bold;
    width: 80%;
    color: white;
    /* font-size: 20px; */
    /* text-align: center; */
}
.nav-top-info-menu-main-li:hover{
    /* background-color: rgba(252, 253, 255, 0.638); */
    
}
.nav-top-info-menu-main-li>a:hover{
    color: wheat;
    transition: 1s ease-in;
}
.nav-top-info-menu-main-li>a{
    text-decoration: none;
    color: white;
}
.nav-body{
    width: 100%;
    min-height: 500px;
    background-color: whitesmoke;
    display: grid;
    /* place-items: center; */
    position: relative;
}
.nav-arrow{
    width: 50px;
    height: 50px;
    /* background: red; */
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    /* z-index: 20; */
}
.nav-body>ul{
    list-style: none;
    padding: 0;
    padding-left: 20px;
    line-height: 60px;
    margin-top: 20px;
}
.nav-body>ul>li{
    /* height */
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    
}
.nav-body-ul-mobile{
    display: grid;
    place-content: center;
}
.nav-body>ul>li>a{
    color: #686868;
    text-decoration: none;
    display: inline-flex;
}
.nav-body>ul>li>a:hover{
    color: #0c0c0c;
    /* text-decoration: none; */
}
.icon-main-menu-icon{
    margin-right: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.icon-main-menu-info{}



/* ********************USER DASHBORD******************** */
.user-dashbord{
    /* width: 100%; */
    width: 100%;
    height: 100vh;
    /* background-color: #686868; */
    /* margin-left: 5px; */
    margin-left: 10px;
    position: absolute;
    right: 0;
    overflow: scroll;
}
.user-dashbord-mobile{
    /* width: 100%; */
    width: 100%;
    height: 100vh;
    /* background-color: #686868; */
    /* margin-left: 5px; */
    margin-left: 10px;
    position: absolute;
    right: 0;
    overflow: scroll;
}
.user-dashbord-ads-img-link{
    width: 90%;
    height: 360px;
    /* position: relative; */
    /* background-color: aqua; */
    margin: auto;
    padding-top: 20px
}
.user-dashbord-ads-img{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    border-radius: 20px;
}
/* ***************** ANALYTICS OVERVIEW ***************** */
.user-dashbord-analysis-overview{
    width: 100%;
    height: 120px;
    /* background-color: antiquewhite; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-dashbord-analysis-overview-info{
    /* font-weight: bold; */
    font-size: 18px;
    font-family: sans-serif;
    /* text-align: end; */
}
.user-dashbord-analysis-overview-contain{
    width: 100%;
    height: 95%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-dashbord-analysis-overview-typse{
    width: 30%;
    height: 80px;
    background-color: aliceblue;
    margin-left: 20px;
    border-radius: 15px;
    display: flex;
    padding-left: 10px;
}
.user-dashbord-analysis-overview-img{
    font-weight: bold;
    font-size: 35px;
    font-family: sans-serif;
    display: grid;
    place-content: center;
}
.user-dashbord-analysis-overview-count{
    padding-left: 10px;
}
/* ************** USER DASHBORD SELL ON SOCIAL ************** */
.user-dashbord-Sell-on-social{
    margin-top: 50px;
    width: 98%;
    height: 300px;
    /* position: relative; */
}

.user-dashbord-Sell-on-social-info{
    /* font-weight: bold; */
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 10px;
}
.user-dashbord-Sell-on-social-info-contain{
    background-color: whitesmoke;
    max-width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    overflow: auto;
    vertical-align: baseline;
    /* position: absolute; */
    padding-left: 20px;
}
.user-dashbord-Sell-on-social-info-contain>a{
    padding-right: 20px;
}
.sell-online-container{
    width: 220px;
    height: 165px;
}
.sell-online-container>img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* ******************** MUCKUP DESIGNESD ******************** */
.container-muckup{
    width: 100%;
    height: 650px;
    display: inline-flex;
}

.muckup-tools{
    width: 40%;
    height: 100%;
    background-color: whitesmoke;
    overflow: scroll;
}
.container-tools-edit{
    width: 100%;
    border-bottom: 1px solid black;
    height: 300px;
    padding-top: 30px;
    padding-left: 15px;
}
.set-user-price{
    height: 390px;
}
/* ********************** COPIED FRAME FOR MUCKUP ************************** */

.set-user-price{
    cursor: default;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    word-break: break-word;
    -webkit-text-size-adjust: 100%;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --header-line-height: 1.2;
    --header-01-font-size: 2.6rem;
    --header-02-font-size: 1.5rem;
    --header-03-font-size: 1.125rem;
    --header-04-font-size: 1rem;
    --body-line-height: 1;
    --body-02-font-size: 0.875rem;
    --label-line-height: 1;
    --label-02-font-size: 0.75rem;
    --color-primary-black: #08080d;
    --color-grey-01: #2e2e2e;
    --color-grey-02: #757575;
    --color-notification-red: #df0403;
    --vh: 6.25px;
    --vh-100: 625px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Mr Eaves XL Modern","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: unset;
    color: #08080d;
    box-sizing: border-box;
    margin-top: 24px;
}
.title{
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    word-break: break-word;
    -webkit-text-size-adjust: 100%;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --header-line-height: 1.2;
    --header-01-font-size: 2.6rem;
    --header-02-font-size: 1.5rem;
    --header-03-font-size: 1.125rem;
    --header-04-font-size: 1rem;
    --body-line-height: 1;
    --body-02-font-size: 0.875rem;
    --label-line-height: 1;
    --label-02-font-size: 0.75rem;
    --color-primary-black: #08080d;
    --color-grey-01: #2e2e2e;
    --color-grey-02: #757575;
    --color-notification-red: #df0403;
    --vh: 6.25px;
    --vh-100: 625px;
    -webkit-font-smoothing: antialiased;
    color: #08080d;
    box-sizing: border-box;
    touch-action: manipulation;
    display: block;
    margin-bottom: 3px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -.02em;
}
.subtitle{
    cursor: default;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    word-break: break-word;
    -webkit-text-size-adjust: 100%;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --header-line-height: 1.2;
    --header-01-font-size: 2.6rem;
    --header-02-font-size: 1.5rem;
    --header-03-font-size: 1.125rem;
    --header-04-font-size: 1rem;
    --body-line-height: 1;
    --body-02-font-size: 0.875rem;
    --label-line-height: 1;
    --label-02-font-size: 0.75rem;
    --color-primary-black: #08080d;
    --color-grey-01: #2e2e2e;
    --color-grey-02: #757575;
    --color-notification-red: #df0403;
    --vh: 6.25px;
    --vh-100: 625px;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.01em;
    color: #767676;
    padding-top: 6px;
}
/* ********************** COPIED FRAME FOR MUCKUP ************************** */

.upload-image-text{
    height: 225px;
    /* padding-left: 15px; */
}
.muckup-title{
    margin-bottom: 20px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -.02em;
}
.muckup-subtitle{
    margin-bottom: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.01em;
    color: #767676;
    padding-top: 6px;
}
.container-tools-edit-buttons{
    width: 100%;
    height: 45%;
    display: flex;
    gap: 20px;
}
.upload-img-text{
    width: 45%;
    height: 50%;
    /* background-color: #767676; */
    position: relative;

}
.upload-img-text-contain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid #e5e7eb;
    border-radius: 15px;
    /* padding */
    cursor: pointer;
}
.addImageText{
    width: auto;
    height: auto
}

.UploadButton {
    display: flex;
    flex: 1 1 180px;
    justify-content: flex-end;
}
.position-input{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}
.position-span{
    width: 100%;
    height: 100%;
    position: absolute;
}

.addImageLayerButton, .addTextLayerButton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -.01em;
    color: #262626;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}
.layerButton {
    /* border: 1px solid #08080d; */
    /* color: #fff; */
    /* background-color: #08080d; */
    flex: 1 1 180px;
    /* font-size: 18px; */
    position: relative;
    white-space: nowrap;
}
.button {
    /* font-size: 1rem; */
    /* line-height: 1.5; */
    padding: 0.4375rem 1.75rem;
    /* border: 0; */
    /* border-radius: 2px; */
    /* color: #fff; */
    /* font-weight: 600; */
    /* -webkit-transition: all .15s; */
    transition: all .15s;
    /* -webkit-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    user-select: none;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
    -webkit-tap-highlight-color: transparent;
    /* display: inline-block; */
}
span.addImageButton {
    color: #000;
}
.addImageButton {
    margin-left: 9px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.colorPickerSwatch .productColor, .featuredColorSelection .productColor {
    border: 1px solid rgba(8,8,13,.15);
    display: inline-block;
    height: 30px;
    margin: 0 12px 10px 0;
    position: relative;
    width: 30px;
}
.CustomizerControls .productColor {
    /* border: 1px solid #08080d; */
    cursor: default;
    /* display: inline-block;
    height: 30px;
    margin: 0 10px 8px 0;
    width: 30px; */
}
.productColor {
    /* border: 2px solid #cdcdcd; */
    border-radius: 50%;
    /* cursor: pointer;
    height: 30px;
    margin: 5px;
    width: 30px; */
}
/* .addImageButton {
    margin-right: 9px;
} */
.muckup-engine{
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.muckup-eng-img{
   width: 80%;
   height: 75%; 
   background-color: whitesmoke;
}


/* ******************** MERGE CONFLIT ******************** */

.dashbord{
    position: relative;
}
.colorPickerSwatch{
    width: auto;
    height: auto;
}